.container {
  padding: 16px;
  background-color: var(--keys-bg);
  border-radius: 8px;
}

.button-row {
  display: flex;
  justify-content: space-between;

  & > button {
    flex: 1;
    margin: 8px;
    cursor: pointer;
    font-family: Spartan;
    font-size: 24px;
    font-weight: 700;

    border-radius: 8px;
    padding: 16px;
    border: 0;

    background-color: var(--btn-bg);
    color: var(--btn-text);
    box-shadow: inset var(--btn-shadow) 0px -4px;

    &.dark {
      background-color: var(--btn-dark-bg);
      box-shadow: inset var(--btn-dark-shadow) 0px -4px;
      color: var(--btn-dark-text);
    }

    &.submit {
      background-color: var(--btn-submit-bg);
      box-shadow: inset var(--btn-submit-shadow) 0px -4px;
      color: var(--btn-submit-text);
    }
  }
}
