.container {
  padding: 16px;
  background-color: blueviolet;
  border-radius: 8px;
}

.button-row {
  display: flex;
  justify-content: space-between;

  & > button {
    flex: 1;
    margin: 8px;
    cursor: pointer;
    font-family: Spartan;
    font-size: 24px;
    font-weight: 700;

    border-radius: 8px;
    padding: 16px;
    border: 0;

    background-color: wheat;
    box-shadow: inset black 0px -4px;

    &.dark {
      background-color: darkblue;
    }

    &.submit {
      background-color: darkorange;
    }
  }
}
