.container {
  background-color: var(--value-bg);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;

  overflow: hidden;

  margin: 16px 0px;
}

.value {
  font-size: 32px;
  font-weight: 700;
  color: var(--value-text);
}
